.addRequestBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 48px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px var(--primary-color) solid;
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 15px;
    z-index: 999;
    display: grid;
    place-items: center;
}

.addRequestBtn:hover {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}