.addItemForm {
    padding: 0 10px;
    z-index: 2;
    width: 100%;
}

.addItemForm p {
    margin: 10px 0;
}

.itemDetail p {
    max-width: 85ch;
    margin: 10px 0;
}

.imageContainer {
    margin: auto;
}

.imageContainer img {
    border-radius: 50%;
}
