.items {
    list-style: none;
}

.items li {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--tertiary-background-color);
    border-radius: 3px;
    backdrop-filter: blur(4px);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.items li:hover {
    background-color: var(--secondary-background-color);
    
}

.items li p {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.item {
    flex: 1 1 auto;
}

.itemTitle {
    max-width: 40ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.upperDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.condition {
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 30px;
    width: max-content;
    color: #fff;
}

@media screen and (max-width: 560px) {
    .itemTitle {
        max-width: 20ch;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .items li {
      box-shadow: none;
      border: none;
    }
  }